
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f4f6f8;
  color: #333;
}
header {
  background: #0a3d62;
  color: #fff;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header img { height: 60px; border-radius: 34px;}
nav a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
}
.hero {
  background: url('../images/home.jpg') center/cover no-repeat;
  padding: 100px 20px;
  color: white;
  text-align: center;
}
section {
  background: #fff;
  margin: 30px auto;
  padding: 30px;
  max-width: 1100px;
  border-radius: 8px;
}
h2 { color: #0a3d62; }
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.card {
  background: #f9fbfd;
  padding: 20px;
  border-radius: 6px;
}
.alumni-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 15px;
  text-align: center;
}
.alumni-grid img {
  width: 3cm;
  height: 4cm;
  object-fit: cover;
  border-radius: 6px;
}
footer {
  background: #0a3d62;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}
